.container {position: fixed; top: 25%; left: 25%;}
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.f {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

body{
    background-color: black;
}

.videoplayer{
  max-width: 40vw;
  margin-bottom: 5vh;
}

.carousel{
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 40vw;
}

.carousel-item > img{
  max-height: 30vw;
}

.buttons{
  margin-top: 5vh;
}

.buttons a {
  margin-left: 10px;
  margin-right: 10px;
  width: 8vw;
  text-decoration: none;
}

.row{
  max-width: 46vw;
  background-color: black;
}

.scon > .row{
  max-width: 70vw;
  background-color: black;
}

.col-sm-4 img{
  max-width: 12vw;
  margin-top: auto;
}

.headtitle > img {
  max-height: 30vh;
}

.social{
  max-width: 10vw;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

.social > a > img {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 3vw;
}

.albumcover{
  max-width: 36vw;
  margin-top: 7vh;
  margin-bottom:10vh;
}

.albumcover > hr{
  background-image: url(../img/image1.jpeg);
  height: 4px;
  border: 0px;
}

.albumcover > h1 {
	background-image: url(../img/image1.jpeg);
	background-size: 100vh 50vh;
  text-shadow: 2px -2px white;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 24px;
	line-height: .75;
	margin: 10px 0;
}
